.masthead {
    background-color: #05101f
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #7a8998;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}